@font-face
{
	font-family: GothamNarrow-Book;
	src: url('fonts/GothamNarrow-Book.otf');
}
body
{
	background: url(../images/tummy.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
}
.homepage
{
	position: relative;
	max-width: 70%;
	margin: 10% auto;
}
.welcome-text
{
	color: white;
	top: 50%;
}
.img
{
	float: left;
}

.button-container img {
  max-width: 100%;
}

.button-container
{
	max-width: 300px;
	margin: 0 auto;
}

p, h1
{
	font-family: GothamNarrow-Book;
}

/*.button
{
	float: left;

}*/
/*.btn
{
	background-color: #80B819 !important;
	border-color: #80B819 !important;
}*/
