<div class="homepage">
	<div class="welcome-text text-center lead ">
		<h1>May This Night Never End</h1>
		<p>Welcome!</p>
	</div>
	<div class="button-container">
		<a href="https://accounts.spotify.com/authorize/?client_id=948b36e13baf4194a4a5b60ec2522dff&response_type=code&redirect_uri=http%3A%2F%2Fvenueclient.azurewebsites.net%2FDefault.aspx%20&scope=playlist-read-private%20user-library-read" class="button">
			<img src="images/log_in-mobile.png" class="img"/>
		</a>
		<!-- <button ng-click="findLocation()" type="button" class="btn btn-primary btn-lg center-block">
		</button> -->
	</div>
</div>
