<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" events="mapevents">
  <ui-gmap-markers models="markers" coords="'location'" labelContent="'label'" options="'options'">
    <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
      <div>
        <h4>Dynamic Marker created via a delay!</h4>

        <p ng-non-bindable>This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}!</p>

        <p class="muted">My marker will stay open when the window is popped up!</p>
      </div>
    </ui-gmap-windows>
  </ui-gmap-markers>
</ui-gmap-google-map>
