<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="redirect_uri" value="http://venueclient.azurewebsites.net/Default.aspx" />
    <add key="clientID" value="948b36e13baf4194a4a5b60ec2522dff" />
    <add key="clientS" value="709bf209464049f49a6b23338e33da8d" />
    <add key="goVenueShowing" value="http://diversify.github.io/may-this-night-never-end/#/moods/" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />     
  </system.web>
<system.webServer>
  <modules runAllManagedModulesForAllRequests="true" />
  <validation validateIntegratedModeConfiguration="false" /> 
<httpErrors existingResponse="PassThrough" /></system.webServer>
</configuration>